<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        .rectangle {
            border: 1px solid orange;
            border-radius: 1rem;
          }
        .rectangle2 {
            border-radius: 1rem;
            padding: 2rem;
            background-color: #EBECF0;
        }
        .hrr {
            margin-bottom: 2rem;
        }
    </style>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a class="navbar-brand text-warning" href="{% url 'home' %}">ASSIGNMENTIFY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
              </ul>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning mx-2" aria-current="page" href="{% url 'create_faculty' %}">Create Faculty</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning mx-2" aria-current="page" href="{% url 'create_department' %}">Create Department</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning mx-2" aria-current="page" href="{% url 'create_semester' %}">Create Semester</a>
                  </li>
              </ul>
                    {% else %}
                        <ul class="navbar-nav">
                              <li class="nav-item">
                                <a class="nav-link btn btn-outline-warning mx-2" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link btn btn-outline-danger mx-2" aria-current="page" href="{% url 'logout' %}">Logout</a>
                              </li>
                          </ul>
                    {% endif %}
                {% else %}
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link btn btn-outline-warning mx-2" aria-current="page" href="{% url 'login' %}">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link btn btn-outline-warning mx-2" aria-current="page" href="{% url 'register_student'%}">Register</a>
                      </li>
                  </ul>
                {% endif %}
            </div>
          </div>
        </nav>
        <div class="container my-5">
            <div class="container py-5 rectangle text-center">
                <h3>{{assignment.name}} | ({{assignment.course.course_code}})</h3>
                <h4>{{assignment.lecturer.staff_name}}</h4>
                <h4>Created {{assignment.date_added}} | Submission deadline {{assignment.submission_limit}}</h4>
                <br>
                <a href="{{assignment.assignment.url}}" class="btn btn-warning mid" download>Download Assignment PDF</a>
            </div>
            <br>
            <div class="container rectangle2">
                <h3 class="text-center">Student Submissions</h3>
                <hr class="hrr">
                {% for submission in student_submissions %}
                    <div class="container">
                        <p style="display: inline-block;">{{submission.student.mat_number}} | {{submission.date_added}}</p>
                        <div style="display: inline-block;" class="float-end">
                            {% if submission.graded %}
                                <a href="#" class="btn btn-info" disabled>Graded</a>
                            {% else %}
                                <a href="{% url 'grade_result' submission.id %}" class="btn btn-outline-info">Grade</a>
                            {% endif %}
                            <a href="{{submission.file.url}}" class="btn btn-outline-dark" download>Download Assignment</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <footer></footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>